---
interface Props {
  class?: string;
}
const { class: className = 'w-[66px] h-auto' } = Astro.props;
---
<a href="/" aria-label="Orly Boojor — Home" class={`inline-flex items-center ${className}`}>
  <!-- Inline SVG from orly-website.webflow/images/NAVBARLOGO.svg -->
  <svg viewBox="0 0 66 88" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-full w-auto">
    <path d="M59.7373 0H6.26267C2.80389 0 0 2.80389 0 6.26267V81.7373C0 85.1961 2.80389 88 6.26267 88H59.7373C63.1961 88 66 85.1961 66 81.7373V6.26267C66 2.80389 63.1961 0 59.7373 0Z" fill="#D1A451"/>
    <path d="M60.0524 80.462C59.9791 80.4253 59.8984 80.3813 59.8984 80.3813C59.3924 80.1247 58.6664 79.9267 58.6664 78.46V38.3687C58.6664 37.4227 57.8964 36.66 56.9577 36.66H51.3331C45.4664 36.66 43.9998 33.7267 43.9998 29.3267V21.9933H56.1951C57.5591 21.9933 58.6664 20.886 58.6664 19.522V9.52667C58.6664 8.06 59.3924 7.862 59.8984 7.60534C59.8984 7.60534 59.9864 7.56134 60.0524 7.52467C60.2577 7.41467 60.1624 7.31934 60.1037 7.31934H52.0884C52.0811 7.31934 52.0737 7.31934 52.0664 7.31934H43.2664C43.2664 7.31934 43.2518 7.31934 43.2444 7.31934H35.2291C35.1704 7.31934 35.0751 7.41467 35.2804 7.52467C35.3538 7.56134 35.4344 7.60534 35.4344 7.60534C35.9404 7.862 36.6664 8.06 36.6664 9.52667V78.1887C36.6664 79.5527 37.7738 80.66 39.1378 80.66H43.2077C43.2077 80.66 43.2444 80.6527 43.2664 80.6453V80.66H60.1037C60.1624 80.66 60.2577 80.5647 60.0524 80.4547V80.462ZM51.3404 8.06734C51.3404 8.06734 51.3404 8.082 51.3404 8.08934V8.06734ZM50.5998 8.06734C51.0397 8.06734 51.3331 8.214 51.3331 8.80067V19.0673C51.3331 20.3873 50.8931 21.2673 49.1331 21.2673C44.2124 21.2673 44.0071 18.7153 43.9998 14.8067V8.80067C43.9998 8.214 44.2931 8.06734 44.7331 8.06734H50.5998ZM43.9998 8.08934C43.9998 8.08934 43.9998 8.07467 43.9998 8.06734V8.08934ZM43.9851 79.934C43.9851 79.934 43.9998 79.8973 43.9998 79.8753V79.934H43.9851ZM44.7331 79.934C44.2931 79.934 43.9998 79.7873 43.9998 79.2007V36.6673C49.8664 36.6673 51.3331 39.6007 51.3331 44.0007V79.2007C51.3331 79.7873 51.0397 79.934 50.5998 79.934H44.7331Z" fill="white"/>
    <path d="M26.341 7.33366H14.6663C14.417 7.33366 14.175 7.34099 13.933 7.35566C10.2297 7.61233 7.33301 9.84166 7.33301 14.667V77.675C7.33301 79.325 8.67501 80.667 10.325 80.667H21.9997C22.249 80.667 22.491 80.6597 22.733 80.645C26.4363 80.3883 29.333 78.159 29.333 73.3337V10.3257C29.333 8.67566 27.991 7.33366 26.341 7.33366ZM21.9997 75.2257C21.9997 77.1103 21.8823 79.9337 18.817 79.9337H15.825C15.187 79.9337 14.6663 79.413 14.659 78.775V12.775C14.659 10.8903 14.8277 8.06699 17.3063 8.06699H20.841C21.4717 8.06699 21.9923 8.58033 21.9923 9.21099V75.2257H21.9997Z" fill="white"/>
  </svg>
</a>
