---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Typekit test">
  <main class="p-large">
    <h1 class="font-heading text-6xl text-mint-200">Neue Haas Grotesk Display</h1>
    <p class="mt-medium font-body text-xl text-stone-200">Neue Haas Grotesk Text — body font test.</p>
  </main>
</BaseLayout>
